.layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    display: flex;
}

.title {
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 20px;
}

.information {
    position: sticky;
    top: 0;
    max-height: 96vh;
    font-size: 1.1rem;
    width: 60%;
    padding: 40px 40px;
}

.insignia path {
    stroke-dasharray: 1050;
    stroke-dashoffset: 0;
}

