.parent {
    display: flex;
    width: 40%;
    text-align: center;
}

/* Line */
.covercolumn::before {
    content: '';
    position: absolute;
    top: 0;
    right: 28vw;
    height: 150%;
    width: 10px;
    background: #444444;
    z-index: 0;
}

.covercolumn {
    width: 170px;
    height: fit-content;
    margin: 0 auto;
}

/* Dot */
.coverContainer::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    top: 200px;
    right: 530px;
    background-color: #FFB74A;
    border-radius: 50%;
    z-index: 1;
}

.coverImage {
    width: 100%;
    margin-bottom: 30px;
}

.line {
    color: white;
}