/* General Template */
.main {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../Images/Background.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.eventPage {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.container {
  min-height: 20vh;
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70%;
}

/* Timeline Page */ 
.emptySpace {
  padding: 10vh 0px;
}

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: auto;
  padding: 0px 30px 0px 0px;
  overflow-y: auto;
  max-height: 100vh;
}

/* Scroll Bar */
.timeline::-webkit-scrollbar {
  width: 1em;
}

.timeline::-webkit-scrollbar-track {
  background: rgb(66, 68, 70);
  border-radius: 100vw;
  margin-block: .5em;
}

.timeline::-webkit-scrollbar-thumb {
  background: rgb(35, 36, 37);
  border-radius: 100vw;
}

@supports (scrollbar-color: rgb(35, 36, 37) rgb(66, 68, 70)) {
  .main {
    scrollbar-color: rgb(35, 36, 37) rgb(66, 68, 70);
    scrollbar-width: auto;
  }
}

/* Text */
.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-weight: bold;
}


.thin {
  text-align: right;
}

.thin {
  line-height: 1;
  font-size: 1.5rem;
  font-weight: 300;
}

.text {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.button {
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 2em;
  font-weight: 600;
  background-color: #FFB74A;
  transition: background-color .5s;
}

.button:hover {
  background-color: #fab854;
}

/* Header and footer */
.header {
  display: flex;
  padding: 0px 25px;
}

.header h1 {
  padding: 0px 25px;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

/* Special */
.alignEndBox {
  width: 25%;
}

.cover {
  position: relative;
  margin-top: 5rem;
  width: 15rem;
  height: 20rem;
}

.rightArrow {
  border: solid rgb(255, 255, 255);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}